.link {
}

.table {
  border-collapse: collapse;
  border: 1px solid purple;
}

.item {
  display: flex;
}

.name {
  width: 300px;
}

.cell {
  padding: 10px 20px;
  width: 33.33%;
  max-width: 33.33%;
  border: 1px solid purple;
}

.cellLink {
  overflow: hidden;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cellLink:hover {
  color: purple;
}
